#about {
	display: inline-grid;
	grid-area: about;
	flex-direction: column;
	row-gap: 3rem;
}



#about > *:first-child > *:last-child {
	margin-bottom: 0rem;
}

/* #skills {
	grid-area: skills;
} */

#photo {
	grid-area: photo;
	max-width: 100%;
	max-height: 100%;
	justify-self: center;
}

.timeline {
	grid-area: timeline;
}