.red {
    background-color: hsl(5, 81%, 56%);
}

.green {
    background-color: #34a853;
}

.blue {
    background-color: hsl(217, 89%, 61%);
}

.yellow {
    background-color: hsl(45, 97%, 50%);
}

