.red {
    background-color: hsl(5, 81%, 56%);
}

.red:not(li):hover {
    background-color: hsl(4, 71%, 50%);
}

.green {
    background-color: hsl(136, 53%, 43%);
}

.green:not(li):hover {
    background-color:hsl(138, 68%, 30%);
}

.blue {
    background-color: hsl(217, 89%, 61%);
}

.blue:not(li):hover, .event:hover > .blue {
    background-color: hsl(214, 82%, 51%);
}

.yellow {
    background-color: hsl(45, 97%, 50%);
}

.yellow:not(li):hover {
    background-color: hsl(45, 100%, 45%);
}

