#contact {
    grid-area: contact;
    display:contents

}

#contact > h2 {
    align-self: flex-start;
}

#emailform {
    grid-area: email;
}

#emailform > * {
    all: unset;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 86%);
}

#emailform > :not(#submit):focus {
    background-color: hsl(0, 0%, 76%);
}

#submit {
    background-color: hsl(136, 53%, 43%);
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#submit:hover {
    background-color: hsl(136, 53%, 33%);
    cursor: pointer;
}