#contact {
    grid-area: contact;
}

#emailform {
    grid-area: email;
}

form > * {
    all: unset;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 86%);
}

#emailform > :not(#submit):focus {
    background-color: hsl(0, 0%, 76%);
}

#submit {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#submit:hover {
    cursor: pointer;
}