#timeline h2 {
    margin-bottom: 1rem;
}

#timeline {
    grid-area: timeline;
    display: block;
}

#lines > line {
	fill:none;
	stroke:#000;
	stroke-miterlimit:10;
}

#timeline text {
	font-size:9px;
}

#events > text {
	fill:#FFF;
}
#wolfert {
	fill:#4387F4;
}

#informatica {
	fill:#FBBC05;
}

#axender {
	fill:#FBBC05;
}

#albert-heijn {
	fill:#EA4335;
}

#nickys-place {
	fill:#34A853;
}
