/* Navigation */
nav {
	display: flex;
	grid-area: navbar;
    justify-content: center;    
}

nav > a {
	all: unset;
	display: inline-block;
	padding: 1rem 1rem 1rem;
	border-bottom: 3px solid transparent;
}

nav > a:hover {
	border-bottom: 3px solid black;
	padding-bottom: calc(1rem -3px);
}

/* Hero */
header {
	grid-area: header;
	justify-self: center;
	align-self: center;
	text-align: center;
}

header > p {
	color: rgba(0, 0, 0, 0.75);
}