#popup {
    width: 100%;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 10px 40px -1px rgba(0,0,0,0.37);
    -moz-box-shadow: 5px 10px 40px -1px rgba(0,0,0,0.37);
    box-shadow: 5px 10px 40px -1px rgba(0,0,0,0.37);
    height: 50vh;
    width: 50vh;
    z-index: 2;
    background-color: white;
    padding: 2rem;

    position: fixed;
    width: 40vh;
    height: 50vh;
    top: 50%;
    left: 50%;
    margin-top: -25vh; /* Negative half of height. */
    margin-left: -20vh; /* Negative half of width. */
    display: flex;
    flex-direction: column;
}

#close {
    margin-left: auto;
    align-self: flex-end;
    margin-bottom: 1rem;
}