#skills {
    display: flex;
	flex-direction: column;
}

#skills > *:last-child {
	margin-bottom: 0rem;
}

.progress {
	height: 3rem;
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 1rem;
	background-color: #dbdbdb;

}

.progress-done {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 0;
	align-items: center;
	border-radius: 1rem;
	color: white;
	font-weight: bold;
	animation: slidein 4s;
}

#csharp {
	animation: slide-in-csharp 1.6s forwards;
}

#python {
	animation: slide-in-python 1.5s forwards;
}

#frontend {
	animation: slide-in-frontend 2s forwards;
}

@keyframes slide-in-csharp {
	from {
	  width: 0%;
	  opacity: 0;
	}
  
	to {
	  width: 70%;
	  opacity: 1;
	}
  }

@keyframes slide-in-python {
	from {
		width: 0%;
		opacity: 0;
	}
  
	to {
	  width: 80%;
	  opacity: 1;
	}
}

@keyframes slide-in-frontend {
	from {
		width: 0%;
		opacity: 0;
	}
  
	to {
	  width: 90%;
	  opacity: 1;
	}
}

@media (max-width: 992px) {
	.progress-done {
		padding: 1rem 0rem;
	}
}