#skills {
    height: 100%;
    display: flex;
	flex-direction: column;
}

#skills > * {
	margin-bottom: 1rem;
}

#skills > *:last-child {
	margin-bottom: 0rem;
}

.progress {
	background-color: #dbdbdb;
	border-radius: 1rem;
    height: 100%;
    width: 100%;
}

.progress-done {
	border-radius: 1rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
	font-weight: bold;
}

#csharp {
	background-color: #ea4335;
}

#python {
	background-color: #4285f4;
}

#frontend {
	background-color: #fbbc05;
}

@media (max-width: 992px) {
	.progress-done {
		padding: 1rem 0rem;
	}
}