#work-eductation {
    grid-area: timeline;
    display: block;
}

#timeline-desktop {
	display: none;
}

line {
	fill:none;
	stroke:#000;
	stroke-miterlimit:10;
}

text {
	font-size:9px;
}

.event > text {
	fill:#FFF;
	font-weight: bold;
}

@media (min-width: 768px) { 
	#timeline-desktop {
		display: block;
	}
	
	#timeline-mobile {
		display: none;
	}
 }
