#work-eductation {
    grid-area: timeline;
    display: block;
}

#timeline-mobile {
    max-height: 120vh;
    margin: auto;
    display: block;
}

line {
	fill:none;
	stroke:#000;
	stroke-miterlimit:10;
}

text {
	font-size:9px;
    font-family: Arial, sans-serif;

}

.event > text {
	fill:#FFF;
	font-weight: bold;
}

.event > .red {
    fill: hsl(5, 81%, 56%);
}

.event > .green {
    fill: hsl(136, 53%, 43%);
}

.event > .blue {
    fill: hsl(217, 89%, 61%);
}

.event > .yellow {

    fill: hsl(45, 97%, 50%);
}



/* SLC */

#work-eductation > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}