.experience > div {
    grid-area: timeline;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 1rem;
}

.experience > div > p {
    text-align: end;
}

@media (min-width: 992px) {
    .experience {
        display: none;
    }
}