div.timeline {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(4, 1fr);
	background-color: gray;
}

div.timeline > div {
	height: 2.5rem;
	background-color: white;
	grid-column: auto / span 2;
}

div.timeline > div:nth-child(11n + 6),
div.timeline > div:nth-child(11n + 11) {
	grid-column: auto/span 1;
}

div.line-row {
	margin-left: 1px;
}

div.line-row:nth-child(1n + 12) {
	border-top: 1px solid gray;
}

.years-row {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

div.timeline .row-first {
	margin-left: 0px;
}
