div.timeline {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(4, 1fr);
	background-color: gray;
}

div.timeline > div {
	height: 2.5rem;
	background-color: white;
}

.top-row {
	margin-left: 1px;
	grid-row: 2;
	grid-column: auto / span 2;
}
#top-row-first {
    margin-left: 0px;
    grid-column: auto/span 1;
}
#top-row-last{
    grid-column: auto/span 1;
}



div.bottom-row {
	border-top: 1px solid gray;
	margin-left: 1px;
	grid-row: 3;
	grid-column: auto / span 2;
}

div#bottom-row-first {
	margin-left: 0px;
}

.bottom-row:nth-child(even) {
	margin-left: 1px;
}

.years-bottom,
.years-top {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.years-top {
	grid-row: 1;
	grid-column: auto / span 2;
}

.years-bottom {
    grid-row: 4;
    grid-column: auto / span 2;
}

#years-bottom-first {
    margin-left: 0px;
    grid-column: auto / span 1;
}
#years-bottom-last {
    grid-template-columns: auto / span 1;
}